/* General Styles */
/* Resetting margin and padding for a clean layout */
body {
    margin: 0;
    padding: 0;
}

/* Styles for the header */
/* Defining the layout and height for the header section */
header {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Styles for the .header-container */
/* Adjusting height and margin for the header container */
.header-container {
    height: 150px;
    margin: 0;
    padding: 0;
}

/* Styles for the info bar */
/* Layout and appearance for the top info bar */
.info-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    height: 30px;
    padding: 0 20px;
}

/* Styles for the left section of the info bar */
/* Styling for the left-aligned section in the info bar */
.left-section {
    flex: 0 0 85%;
}

/* Styles for the link in the left section */
/* Formatting links within the left section */
.left-section a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* Styles for the right section of the info bar */
/* Styling for the right-aligned section in the info bar */
.right-section {
    flex: 0 0 15%;
    text-align: right;
}

/* Styles for the time and date in the right section */
/* Customizing time and date display in the info bar */
.time {
    font-size: 13px;
}

.date {
    font-size: 15px;
}

/* Styles for the header content */
/* Appearance and layout for the header content area */
.header-content {
    background-color: #380346;
    padding: 20px;
    text-align: center;
    color: white;
    flex-grow: 1;
}

/* Styles for the main content area */
/* Layout and height adjustments for the main content section */
.main-content {
    display: flex;
    height: calc(100vh - 150px);
}

/* Styles for the navigation bar */
/* Styling for the navigation panel */
.navigation {
    flex: 0 0 5%;
    background-color: #f1f1f1;
    padding: 20px;
}

/* Styles for the navigation list */
/* Removing default list styling for navigation items */
.navigation ul {
    list-style-type: none;
    padding: 0;
}

/* Styles for the navigation list items */
/* Adding spacing between navigation items */
.navigation li {
    margin-bottom: 10px;
}

/* Styles for the navigation links */
/* Formatting links in the navigation section */
.navigation a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* Styles for the display section */
/* Main content display adjustments */
.display-section {
    flex: 1;
    background-color: #f1f1f1;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Hide all content containers by default */
/* Ensuring content containers are hidden until activated */
.display-section .content-container {
    display: none;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
    overflow-x: auto; /* Enable horizontal scrolling within the container */
}

/* Show the dashboard container by default */
/* Default visibility for the dashboard container */
#dashboard-container {
    display: block;
    background-color: #f1f1f1;
    height: 100%;
    padding: 0;
}

/* Main content styles */
/* Styling for the primary content section */
#main-content {
    padding: 20px;
    background-color: #f7faf6;
    border-radius: 8px;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
    height: 100%;
}





























/* Tracker specific styles */
#tracker-container {
    display: none;
}

#tracker-container.active {
    display: flex;
}

.tracker-content {
    display: flex;
    height: 100%;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tracker-content h2 {
    margin-top: 0;
    color: #333;
    text-align: center;
}

.tracker-data-row {
    display: flex;
    flex: 5;
    width: 100%;
}

.tracker-facility-list-container {
    flex: 0 0 15%;
    border-right: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;
    overflow-y: auto;
}

.tracker-project-list-container {
    flex: 0 0 20%;
    border-right: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;
    overflow-y: auto;
    
}

.tracker-details-column {
    flex: 0 0 25%;
    border-right: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;
    overflow-y: auto;
}

.tracker-actions-mini-connect-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

.tracker-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.tracker-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    justify-items: center;
    width: 100%;
}

.tracker-button {
    width: 150px;
    padding: 10px 20px;
    background-color: #380346d8;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.tracker-button:hover {
    background-color: #380346;
}

.ph-button {
    visibility: hidden; /* Make the placeholder button invisible */
}

.tracker-mini-connect-container {
    flex: 1;
    padding: 20px;
    background-color: #fff;
}

/* Modal styles */
.tracker-modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);

}

.tracker-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.tracker-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.tracker-close:hover,
.tracker-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Apply same list styles as knowledge section */
.tracker-facility-list-container ul,
.tracker-project-list-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.tracker-facility-list-container li,
.tracker-project-list-container li {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 8px;
}

.tracker-facility-list-container li:hover,
.tracker-project-list-container li:hover {
    background-color: #380346d8;
    color: #fff;
}

.tracker-facility-list-container li.active,
.tracker-project-list-container li.active {
    background-color: #380346d8;
    color: #fff;
    font-weight: bold;
}





















/* Knowledge Content Styles */

/* Ensure the knowledge-container is hidden initially */
#knowledge-container {
    display: none;
}
.knowledge-content {
    display: flex;
    height: 100%;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.knowledge-content h2 {
    margin-top: 0;
    color: #333;
}

.knowledge-facility-list-container {
    border-right: 1px solid #ccc;
    border-top-left-radius: 8px; /* Add border radius to the top right corner */
    border-bottom-left-radius: 8px; /* Add border radius to the bottom right corner */
}  

.knowledge-facility-list-container,
.knowledge-software-data-container,
.knowledge-vendor-data-container {
    flex: 1; /* Ensure equal height */
    padding: 20px;
    background-color: #fff;
    overflow-y: auto;
    text-align: center;
    
}

.knowledge-facility-data-container {
    flex: 2; /* Make the facility data container wider */
    padding: 0px;
    background-color: #fff;
    overflow-y: auto;
    text-align: center;
}

.knowledge-vendor-data-container {
    border-left: 1px solid #ccc; /* Remove the right border from the last container */
    border-top-right-radius: 8px; /* Add border radius to the top right corner */
    border-bottom-right-radius: 8px; /* Add border radius to the bottom right corner */
}

/* Align the facility, software, and vendor containers in a row */
.knowledge-facility-data-row {
    display: flex;
    flex: 5; /* Allocate space for facility, software, and vendor containers */
    width: 100%;
}

.knowledge-facility-data-sections {
    display: flex;
    text-align: left;
}

.knowledge-facility-data-container h2 {
    text-align: center;
}

.knowledge-facility-info,
.knowledge-field-data {
    flex: 1;
    padding: 10px;
}

.knowledge-facility-info {
    border-right: 1px solid #ccc;
    
}

.knowledge-facility-list-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.knowledge-facility-list-container li {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 8px;
}

.knowledge-facility-list-container li:hover {
    background-color: #380346d8;
    color: #fff;
}

/* Active state for facility, software, and vendor list items */
.knowledge-facility-list-container li.active{
    background-color: #380346d8;
    color: #fff;
    font-weight: bold;
}

.knowledge-facility-data-container p,
.knowledge-facility-info p,
.knowledge-field-data p {
    margin: 10px 0;
    font-size: 16px;
    line-height: 1.5;
}

.knowledge-facility-data-container p strong,
.knowledge-facility-info p strong,
.knowledge-field-data p strong {
    font-weight: bold;
}

/* Ensure the knowledge-container takes up the full height */
#knowledge-container,
.knowledge-container,
#main-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Prevent scrolling in the main content */
}


/* Hide scrollbars while keeping scroll functionality */
.knowledge-facility-list-container,
.knowledge-facility-data-container,
.knowledge-software-data-container,
.knowledge-vendor-data-container {
    overflow-y: scroll;
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    scrollbar-width: none; /* For Firefox */
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari) */
.knowledge-facility-list-container::-webkit-scrollbar,
.knowledge-facility-data-container::-webkit-scrollbar,
.knowledge-software-data-container::-webkit-scrollbar,
.knowledge-vendor-data-container::-webkit-scrollbar {
    display: none;
}

/* Software list styles */
.knowledge-software-data-container {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    overflow-y: auto;
    list-style-type: none; /* Remove bullet points */
    border-left:  1px solid #ccc;
}

.knowledge-software-data-container h2 {
    text-align: center;
}

.knowledge-software-data-container ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0;
    margin: 0;
}

.knowledge-software-data-container li {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    border-radius: 8px;
}

.knowledge-software-data-container li:hover {
    background-color: #380346d8;
    color: #fff;
}

.knowledge-software-data-container li.active{
    background-color: #380346d8;
    color: #fff;
    font-weight: bold;
}
.knowledge-software-details {
    display: none;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
    text-align: left;
    color: #333;
}

/* Vendor list styles */
.knowledge-vendor-data-container {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    overflow-y: auto;
    list-style-type: none; /* Remove bullet points */
}

.knowledge-vendor-data-container h2 {
    text-align: center;
}

.knowledge-vendor-data-container ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0;
    margin: 0;
}

.knowledge-vendor-data-container li {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    border-radius: 8px;
    
}

.knowledge-vendor-data-container li:hover {
    background-color: #380346d8;
    color: #fff;
}

.knowledge-vendor-data-container li.active {
    background-color: #380346d8;
    color: #fff;
    font-weight: bold;
}


  
   
.knowledge-vendor-details {
    display: none;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
    text-align: left;
    color: #333;
}

.knowledge-facility-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0px;
    gap: 20px; /* Add this line to set the space between buttons */
}
   

.knowledge-facility-button {
    margin: 5px 0;
    width: 150px;
    padding: 10px 20px;
    background-color: #380346d8;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.knowledge-facility-button:hover {
    background-color: #380346;
}

.knowledge-facility-list-titlesection {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
    padding: 12px;
    border-bottom: 1px solid #ccc;
}

.knowledge-facility-data-titlesection {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
    padding: 12px;
    
}

.knowledge-software-data-titlesection {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
    padding: 12px;
    border-bottom: 1px solid #ccc;
}

.knowledge-vendor-data-titlesection {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
    padding: 12px;
    border-bottom: 1px solid #ccc;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 500px; /* Could be more or less, depending on screen size */
    height: 675px;
    overflow-y: auto; /* Enable vertical scrolling */
}


/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Image container */
img {
    cursor: pointer;
    transition: transform 0.2s; /* Smooth transition for enlargement */
}

img:hover {
    transform: scale(1.1); /* Slightly enlarge on hover */
}






























/* Performance Styles */
/* Ensure the performance-container is hidden initially */
.performance-content {
    display: flex;
    flex-direction: row;
    height: 100%;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.performance-facility-list-container {
    flex: 0 0 10%;
    border-right: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;
    overflow-y: auto;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.performance-facility-list-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.performance-facility-list-container li {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 8px;
}

.performance-facility-list-container li:hover {
    background-color: #380346d8;
    color: #fff;
}

/* Active state for facility, software, and vendor list items */
.performance-facility-list-container li.active {
    background-color: #380346d8;
    color: #fff;
    font-weight: bold;
}

.kpi-graph h2, .occ-graph h2, .traffic-graph h2, .ar-graph h2 {
    display: inline-block;
    position: relative;
    padding-right: 20px; /* Space for the arrow */
    cursor: pointer; /* Add cursor pointer to indicate clickability */
}

.kpi-graph h2::after, .occ-graph h2::after, .traffic-graph h2::after, .ar-graph h2::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(45deg); /* Rotate to face north-east */
}

.graph-modal {
    display: none; /* Hidden by default */
    position: fixed;
    top: 50%;
    left: 50%;
    width: 850px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 5px #1a0320;
    transform: translate(-50%, -50%);
    z-index: 1000; /* Ensure it is on top */
    padding: 20px;
    border-radius: 8px;
    overflow: hidden; /* Prevent scrolling */
}

.graph-modal.active {
    display: block; /* Show the modal when active */
}

.graph-modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

.graph-modal canvas {
    width: 100% !important;
    height: 100% !important;
}

.performance-facility-list-container::-webkit-scrollbar { /* WebKit */
    display: none;
}

.performance-data-container {
    flex: 2;
    display: flex;
    flex-direction: row;
}

.performance-revenue {
    flex: 1;
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    overflow-x: hidden; /* Prevent horizontal overflow */
}

.performance-revenue::-webkit-scrollbar { /* WebKit */
    display: none;
}

.performance-occupancy {
    flex: 1;
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.performance-occupancy::-webkit-scrollbar { /* WebKit */
    display: none;
}

.performance-arplus {
    flex: 1;
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    
}

.performance-arplus::-webkit-scrollbar { /* WebKit */
    display: none;
}

/* Add styles for the facility list to match tracker and knowledge facility lists */
.performance-facility-list-titlesection h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

#performance-facility-list {
    list-style-type: none;
    padding: 0;
}

#performance-facility-list li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

/* Styles for the revenue content */
#performance-revenue-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mtd-kpi-data {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
}

.kpi-box {
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 0 5px #1a0320;
}

.kpi-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.kpi-data {
    border-radius: 5px;
    padding: 0px;
    text-align: center;
    text-transform: capitalize;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kpi-graphs {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    padding: 10px;
}

.kpi-graph {
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 0 5px #1a0320;
    height: 250px; /* Set a fixed height for the graphs */
}

/* Styles for the occupancy content */
.mtd-occ-data {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
}

.occ-box {
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 0 5px #1a0320;
}

.occ-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.occ-data {
    border-radius: 5px;
    padding: 0px;
    text-align: center;
    text-transform: capitalize;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.occ-graphs {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    padding: 10px;
}

.occ-graph {
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 0 5px #1a0320;
    height: 250px; /* Set a fixed height for the graphs */
    width: 100%; /* Ensure the graph is as wide as the container */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* Styles for the traffic content */
.mtd-traffic-data {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
}

.traffic-box {
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 0 5px #1a0320;
}

.traffic-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.traffic-data {
    border-radius: 5px;
    padding: 0px;
    text-align: center;
    text-transform: capitalize;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.traffic-graphs {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    padding: 10px;
    height: 160px; /* Add this line to set a fixed height */
    width: 100%; /* Ensure the graph is as wide as the container */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.traffic-graph {
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 0 5px #1a0320;
    height: 250px; /* Add this line to set a fixed height */
    width: 100%; /* Ensure the graph is as wide as the container */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* Styles for the arplus content */
.mtd-ar-data {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
}

.ar-box {
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 0 5px #1a0320;
}

.ar-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.ar-data {
    border-radius: 5px;
    padding: 0px;
    text-align: center;
    text-transform: capitalize;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ar-graphs {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    padding: 10px;
}

.ar-graph {
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 0 5px #1a0320;
    height: 250px; /* Set a fixed height for the graphs */
}

.kpi-graph h2, .occ-graph h2, .traffic-graph h2, .ar-graph h2 {
    margin-top: 0;
    color: #333;
    margin-bottom: 5px;
}

.kpi-graph canvas, .occ-graph canvas, .traffic-graph canvas, .ar-graph canvas {
    width: 100% !important;
    height: 90% !important;
}














.marketcomparison-content {
    display: flex;
    flex-direction: row;
    height: 100%;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.marketcomparison-facility-list-container {
    flex: 0 0 15%;
    border-right: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;
    overflow-y: auto;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.marketcomparison-facility-list-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.marketcomparison-facility-list-container li {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 8px;
}

.marketcomparison-facility-list-container li:hover {
    background-color: #380346d8;
    color: #fff;
}

/* Active state for facility, software, and vendor list items */
.marketcomparison-facility-list-container li.active {
    background-color: #380346d8;
    color: #fff;
    font-weight: bold;
}

.marketcomparison-display-container {
    flex: 90%;
    padding: 0px;
    background-color: rgb(153, 243, 243);
}

.marketcomparison-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    gap: 1px; /* Add this line to set the space between buttons */
}

.marketcomparison-button {
    margin: 5px 0;
    width: 200px;
    padding: 10px 10px;
    background-color: #380346d8;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.marketcomparison-button:hover {
    background-color: #380346;
}

.marketcomparison-map-container {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgb(85, 36, 114);
}

.marketcomparison-list-container {
    display: none;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: rgb(190, 83, 233);
}

.marketcomparison-rateanalysis-container {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgb(149, 25, 243);
}

.marketcomparison-map-container.active,
.marketcomparison-list-container.active,
.marketcomparison-rateanalysis-container.active {
    display: block;
}






















































































/* Dashboard styles */
/* Styling for cards on the dashboard */
.dashboard-card {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

.dashboard-card h2 {
    margin-top: 0;
    color: #333;
}

/* Content layout within dashboard cards */
.card-content {
    display: flex;
    justify-content: space-between;
}

.card-item {
    flex: 1;
    margin-right: 20px;
}

.card-item:last-child {
    margin-right: 0;
}

.card-item h3 {
    margin-top: 0;
    color: #555;
}

.card-item p {
    margin: 5px 0;
    color: #777;
}















/* shop container styles */
/* shop container styles */
.shop-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.shop-bar {
    display: flex;
    width: 100%;
    padding: 10px 0px 0px 0px;
    background-color: #f7faf6; /* Updated background color */
}

.shop-tabs {
    display: flex;
    justify-content: flex-start; /* Align tabs to the left */
    background-color: #f7faf6;
    border-color: #ccc;
    padding: 10px 5px 10px 20px;
    gap: 10px; /* Add 10px padding between tabs */
}

.shop-tab {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #f1f1f1; /* Updated background color f7faf6*/
    color: black;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.shop-tab:hover {
    background-color: #380346;
    color: white;
}

.shop-tab.active {
    background-color: #380346;
    color: white;
}

.shop-tab.hidden {
    display: none;
}

.shopcart-container {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align the button to the left */
    padding: 10px 5px 10px 5px;
    background-color: f7faf6;
}

.shop-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    padding: 20px;
    background-color: #f7faf6;
}

.shop-card {
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-display {
    padding: 10px;
    text-align: center;
}

.item-display img {
    max-width: 100%;
    height: auto;
}

.checkout-box {
    padding: 10px;
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkout-box .quantity {
    width: 50px;
    padding: 5px;
}

.checkout-box .add-to-cart {
    padding: 10px 20px;
    background-color: #380346d8;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.checkout-box .add-to-cart:hover {
    background-color: #380346;
}

.showcart-button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #f1f1f1;
    color: black;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.showcart-button:hover {
    background-color: #380346;
    color: white;
}

.showcart-button.active {
    background-color: #380346;
    color: white;
}

.cart-box {
    display: none;
    position: absolute;
    width: 600px;
    height: flex;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1000;
    overflow-y: auto;
}

.cart-box.show {
    display: block;
}

.cart-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* Ensure fixed table layout */
}

.cart-table th, .cart-table td {
    border: 1px solid #ddd; /* Add table borders */
    padding: 8px;
    text-align: left;
}

.cart-table th {
    text-align: left;
}

.cart-table th.item-column {
    width: 70%; /* Item column takes up 10% */
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Add ellipsis for overflow text */
}

.cart-table th.qty-column,
.cart-table th.ip-column,
.cart-table th.tp-column {
    width: 10%; /* QTY, IP, and TP columns take up 5% each */
    text-align: center; /* Center align content */
}

.cart-table td.item-column {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}

.cart-table td.item-column img {
    width: 30px;
    height: 30px;
    margin-right: 8px;
}

.cart-total {
    margin-top: 20px;
    font-size: 18px;
}

.cart-actions {
    display: flex;
    justify-content: space-between;
    margin-top: auto; /* Push buttons to the bottom */
    padding-top: 20px;
}

.cart-actions button {
    padding: 10px 20px;
    background-color: #380346d8;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cart-actions button:hover {
    background-color: #380346;
}
















/* Chat Feature Styles */
.chat-feature {
    display: flex;
    height: 100vh;
    background-color: #f0f0f0;
}

.user-list {
    width: 250px;
    background-color: #f4f4f4;
    padding: 10px;
    overflow-y: auto;
    border-right: 1px solid #ccc;
}

.user-box {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.user-box:hover {
    background-color: #e0e0e0;
}

.user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-name {
    font-size: 16px;
    font-weight: bold;
}

.chat-display {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    overflow-y: auto;
    border-bottom: 1px solid #ccc;
}

.chat-messages {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
}

.message {
    display: flex;
    margin-bottom: 10px;
}

.message .user-image {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.message-content {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 4px;
    max-width: 70%;
}

.message-content p {
    margin: 0;
}

.chat-input {
    display: flex;
    padding: 10px;
    background-color: #f4f4f4;
    border-top: 1px solid #ccc;
}

.chat-input-field {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.send-button {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #0078d4;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.send-button:hover {
    background-color: #005bb5;
}



















/* Client Link Styles */
.clientlink-content {
    display: flex;
    height: 100%;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.client-list-container,
.client-data-container,
.facility-data-container {
    padding: 20px;
    background-color: #fff;
}

.client-list-container {
    flex: 1;
    border-right: 1px solid #ccc;
    overflow-y: auto;
}

.client-data-container {
    flex: 2;
    border-right: 1px solid #ccc;
    overflow-y: auto;
}

.facility-data-container {
    flex: 3;
    overflow-y: auto;
}

.facility-data-sections {
    display: flex;
    height: 100%;
}

.facility-info,
.field-data {
    flex: 1;
    padding: 10px;
}

.facility-info {
    border-right: 1px solid #ccc;
}

.client-list-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.client-list-container li {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s, color 0.3s;
}

.client-list-container li:hover {
    background-color: #f1f1f1;
    color: #333;
}

.client-data-container p,
.facility-info p,
.field-data p {
    margin: 10px 0;
    font-size: 16px;
    line-height: 1.5;
}

.client-data-container p strong,
.facility-info p strong,
.field-data p strong {
    font-weight: bold;
}

/* Ensure the clientlink-container takes up the full height */
#clientlink-container,
.container,
#main-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Prevent scrolling in the main content */
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.new-client-button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #380346;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.new-client-button:hover {
    background-color: #380346d8;
}

/* Form Styles */
#new-client-form {
    display: flex;
    flex-direction: column;
}

.form-sections {
    display: flex;
    justify-content: space-between;
}

.form-section {
    flex: 1;
    margin-right: 20px;
}

.form-section:last-child {
    margin-right: 0;
}

.form-section h3 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

#new-client-form div {
    margin-bottom: 10px;
}

#new-client-form label {
    font-weight: bold;
    margin-bottom: 5px;
}

#new-client-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

#new-client-form button[type="submit"] {
    padding: 10px 20px;
    width: 300px;
    margin: 20px 0 0 auto;
    background-color: #380346;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#new-client-form button[type="submit"]:hover {
    background-color: #380346d8;
}

/* Scrollable Field Data Section */
#field-data-section {
    max-height: 500px; /* Adjust the height as needed */
    overflow-y: auto;
}

#facility-data-section {
    max-height: 500px; /* Adjust the height as needed */
    overflow-y: auto;
}